body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 30px;
  margin-bottom: 50px;
}


.div2 {
  margin-top: 50px;
}


.div3-1{
  width:150px;
  height:100px;
  border:0;
  font-size: 20px;
  border-radius: 1.5rem;
  background-color:aqua;
}

.div3-2{
  width:150px;
  height:100px;
  border:0;
  font-size: 20px;
  border-radius: 1.5rem;
  background-color:gold;
}

img {
  width:300px;
}
