<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>서버로부터 값을 받아오는 중..</h1>
</body>
<script>
    async function check(url) {
	    try {
		    let res = await fetch(url)
		    let status = await res.text(res)
		    console.log(status);
		    let obj = JSON.parse(status)
		    console.log(obj)
	    }
	    catch {
		    console.log("faild")
	    }
    }

check("http://10.150.150.1:5000/history");
</script>
</html>
