<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href="../static/LED.css" rel="stylesheet">
  <title>LED</title>
</head>
<body>
  <h1>우리 교실 LED 스위치</h1>
  <div class="div1">
    <img class="image" src="../static/images/loading1.gif" alt="high">
  </div>
  <div class="div2">
    <button class="div3-1">on</button>
    <button class="div3-2">off</button>
  </div>
  <h4 class="today"></h4>
  <button class="usingTime">사용량</button>
</body>
<script type="text/javascript" src="../static/index.js"></script>
</html>
